<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>首页</h1>
<br>
<h3 th:text="${msg}"></h3>
<hr>
<!--判断是否有(即未登录)loginUser这个session对象，如果没有就显示登录按钮，如果有(即已登录)就显示登出按钮-->
<!--suppress ThymeleafVariablesResolveInspection -->
<div th:if="${session.loginUser==null}">
    <a th:href="@{/toLogin}">登录</a>
</div>

<!--suppress ThymeleafVariablesResolveInspection -->
    <!--<a th:href="@{/logout}">登出</a>-->
<div th:if="${session.loginUser!=null}">
    <a th:href="@{/auth/logout}">登出</a>

</div>
<hr>

<!--判断权限  如果有相应的资源权限就显示相应的模块-->
<div shiro:hasPermission="user:add">
    <a th:href="@{/user/add}">add</a>
</div>

<div shiro:hasPermission="user:modify">
    <a th:href="@{/user/modify}">modify</a>
</div>

</body>
</html>